<div id="header">
  <a href="/" class="btn btn-secondary">Home Page</a>&nbsp
  <a href="/stylists" class="btn btn-secondary">Stylists</a>&nbsp
  <a href="/clients" class="btn btn-secondary">Clients</a>&nbsp
  <a href="/specialties" class="btn btn-secondary">Specialties</a>&nbsp
</div>
<hr>