@{
  Layout = "_Layout";
}

<form action="/cuisines/@Model.Cuisine_Id/restaurants/@Model.Id" method="post">
  <label for="newName">Edit Name </label>
  <input type="text" name="newName" id="newName" value="@Model.Name" />
  <button type="submit" class="btn btn-success">Update</button>
</form>