@{
  Layout = "_Layout";
}

<div class="container">

<form action="/specialties" method="post">
<label for="name">Add a new specialty </label>
<input type="text" name="name" id="name" />
<button type="submit" class="btn btn-warning">Add</button>
</form>
<hr />
<h3>List of specialties</h3>

<table class = "table table-hover">
<thead>
    <th class="col-md-4">Name</th>
    <th class="col-md-4">Edit</th>
    <th class="col-md-4">Delete</th>
</thead>
  <tbody>

  @foreach (var specialty in Model)
  {
  <tr>
    <td class="col-md-4"><a href="/specialties/@specialty.Id">@specialty.Name</a></td>
    <td class="col-md-4"><a href="/specialties/@specialty.Id/update" class="btn btn-info">Edit</a></td>
    <td class='col-md-4'>
      <form action="/specialties/@specialty.Id/delete" method="post">
        <button type="submit" class='btn btn-danger'>Delete</button>
      </form>
    </td>
  </tr>
  }
  </tbody>
</table>

</div>