@{
  Layout = "_Layout";
}
<div class="container">
<h3>List of clients under @Model["stylist"].StylistName</h3>
<hr />

<form action='/stylists/@Model["stylist"].Id/clients' method="post">
  <label for="client_name">Add a Client</label>
  <input type="text" name="client_name" id="client_name" />
  <button type="submit" class="btn btn-info">Add</button>
</form>
<hr />
<h3>List of clients</h3>

<table class = "table table-hover">
  <thead>
      <th class="col-md-4">Name</th>
      <th class="col-md-4">Edit</th>
      <th class="col-md-4">Delete</th>
   
  </thead>
  <tbody>

  @foreach (var client in Model["stylist"].GetClients())
  {
  <tr>
    <td class="col-md-4"><a href="">@client.Name</a></td>
    <td class="col-md-4"><a href='/stylists/@Model["stylist"].Id/clients/@client.Id/update' class="btn btn-info">Edit</a></td>
    <td class="col-md-4">
        <form action='/stylists/@Model["stylist"].Id/clients/@client.Id/delete' method="post">
        <button class="btn btn-danger">Delete</button>
        </form>
    </td>
  </tr>
  }
  </tbody>
</table>
<a href="/stylists" class="btn btn-secondary">Back to the stylist list</a>
</div>