@{
  Layout = "_Layout";
}

<form action="/stylists/@Model.Id/update" method="post">
<label for="newName">New name: </label>
<input type="text" id="newName" name="newName" value=@Model.StylistName>
<button type="submit" class="btn btn-success">Update</button>
</form>